/////////////////////////////////////////////////////////////////////////////
//
// Frank Engine Resource Script
//
/////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////
//
// Game files
//
/////////////////////////////////////////////////////////////////////////////
 
// engine textures
smoke						RCDATA		"data\\smoke.png"
circle						RCDATA		"data\\circle.png"
dot							RCDATA		"data\\dot.png"
lightMask					RCDATA		"data\\lightMask.png"

// fonts
font1						RCDATA		"data\\font1.png"
font1.fnt					RCDATA		"data\\font1.fnt"

// terrain
terrain.2dt					RCDATA		"terrain.2dt"

/////////////////////////////////////////////////////////////////////////////
//
// Icons
//
/////////////////////////////////////////////////////////////////////////////

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_MAIN_ICON			ICON		"data\\game.ico"
IDI_MAIN_ICON_SMALL		ICON		"data\\gameSmall.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Manifest
//
/////////////////////////////////////////////////////////////////////////////

1	RT_MANIFEST		"Game.manifest"